.Bg\(i\) {
  background: inherit;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body.fontLoaded {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.Toastify__toast-container {
  z-index: 9999;
  position: fixed;
  padding: 4px;
  width: 280px;
  box-sizing: border-box;
  color: #fff;
}

.Toastify__toast-container--bottom-center {
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 480px) {
  .Toastify__toast-container--bottom-center {
    bottom: 0;
    transform: translateX(0);
  }
  .Toastify__toast-container--rtl {
    right: 0;
    left: initial;
  }
}

.Toastify__toast {
  position: relative;
  min-height: 64px;
  box-sizing: border-box;
  padding: 14px;
  border-radius: 1px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-height: 800px;
  overflow: hidden;
  font-family: Manrope, sans-serif;
  font-size: 14px;
  cursor: pointer;
  direction: ltr;
  margin-bottom: 14px;
}

.Toastify__toast--rtl {
  direction: rtl;
}

.Toastify__toast--default {
  background: white;
  color: black;
  border: 1px solid rgb(255, 67, 67);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.08) 3px 3px 12px;
}

.Toastify__toast-body {
  margin: auto 0;
  -ms-flex: 1;
  flex: 1;
  font-family: Manrope, sans-serif;
  box-shadow: none;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast {
    margin-bottom: 0;
  }
}

.Toastify__close-button {
  color: #000;
  font-weight: bold;
  font-size: 14px;
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 1;
  width: 14px;
  transition: 0.3s ease;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.Toastify__close-button--default {
  color: #000;
  opacity: 0.3;
}

.Toastify__close-button:hover,
.Toastify__close-button:focus {
  opacity: 1;
}

@keyframes Toastify__bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  to {
    transform: none;
  }
}

@keyframes Toastify__bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}

@keyframes Toastify__bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

.Toastify__bounce-enter--bottom-center {
  animation-name: Toastify__bounceInRight;
}

.Toastify__bounce-exit--bottom-center {
  animation-name: Toastify__bounceOutRight;
}

.Toastify__bounce-exit--bottom-center {
  animation-name: Toastify__bounceOutRight;
}

.Toastify__bounce-enter--bottom-center {
  animation-name: Toastify__bounceInRight;
}

@keyframes Toastify__trackProgress {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

.Toastify__progress-bar--animated {
  animation: Toastify__trackProgress linear 1 forwards;
}

/*
  Empty Animation
*/

:root {
  --card-padding: 24px;
  --card-height: 340px;
  --card-skeleton: linear-gradient(lightgrey var(--card-height), transparent 0);
  --avatar-size: 32px;
  --avatar-position: var(--card-padding) var(--card-padding);
  --avatar-skeleton: radial-gradient(
    circle 16px at center,
    white 99%,
    transparent 0
  );
  --title-height: 32px;
  --title-width: 200px;
  --title-position: var(--card-padding) 180px;
  --title-skeleton: linear-gradient(white var(--title-height), transparent 0);
  --desc-line-height: 16px;
  --desc-line-skeleton: linear-gradient(
    white var(--desc-line-height),
    transparent 0
  );
  --desc-line-1-width: 230px;
  --desc-line-1-position: var(--card-padding) 242px;
  --desc-line-2-width: 180px;
  --desc-line-2-position: var(--card-padding) 265px;
  --footer-height: 40px;
  --footer-position: 0 calc(var(--card-height) - var(--footer-height));
  --footer-skeleton: linear-gradient(white var(--footer-height), transparent 0);
  --blur-width: 200px;
  --blur-size: var(--blur-width) calc(var(--card-height) - var(--footer-height));
}

.handle-empty-img:empty::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  box-shadow: 0 10px 45px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
      90deg,
      rgba(211, 211, 211, 0) 0,
      rgba(211, 211, 211, 0.8) 50%,
      rgba(211, 211, 211, 0) 100%
    ),
    var(--title-skeleton), var(--desc-line-skeleton), var(--desc-line-skeleton),
    var(--avatar-skeleton), var(--footer-skeleton), var(--card-skeleton);
  background-size: var(--blur-size), var(--title-width) var(--title-height),
    var(--desc-line-1-width) var(--desc-line-height),
    var(--desc-line-2-width) var(--desc-line-height),
    var(--avatar-size) var(--avatar-size), 100% var(--footer-height), 100% 100%;
  background-position: -150% 0, var(--title-position),
    var(--desc-line-1-position), var(--desc-line-2-position),
    var(--avatar-position), var(--footer-position), 0 0;
  background-repeat: no-repeat;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  to {
    background-position: 350% 0, var(--title-position),
      var(--desc-line-1-position), var(--desc-line-2-position),
      var(--avatar-position), var(--footer-position), 0 0;
  }
}

.react-datepicker__day-name,
.react-datepicker__day {
  width: 40px !important;
  height: 40px;
  border: none !important;
}

.react-datepicker__day-name:active,
.react-datepicker__day:active {
  width: 40px !important;
  height: 40px;
  border: none !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: #f5f5f5 !important;
  color: black;
}

.react-datepicker__month-container {
  background-color: #f5f5f5;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.react-datepicker-popper {
  top: 12px !important;
}

@media only screen and (max-width: 1024px) {
  .react-datepicker-popper {
    top: -22px !important;
  }
}

.login {
  background-image: radial-gradient(black 1px, transparent 0);
  background-size: 40px 40px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f5f5f5 inset !important;
}

@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}

.animated-background {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: darkgray;
  background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 100px;
  position: relative;
}

@keyframes loaded {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

img.placeholder {
  display: block;
  height: 100px;
  width: 100px;
}

img.placeholder.loaded:not(.has-error) {
  animation: loaded 300ms ease-in-out;
}
img.placeholder.has-error {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQ4AAAC0CAAAAABA/J3eAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfkChQBOBmm/FVRAAABiElEQVR42u3Wx3EEMQxFwc0/rpX33nvvV2buKvwUdBgW1S+ELhDgZDqdS/PVQlqsltJytZJWq7W0Xm2kzWorbVc7abfaS/vVQTqsjtJxdZJOq7N0Xl2ky+oqXVc36ba6S/fVQ3qsntJz9ZJeq7f0nj6qWfWZvtJ39ZOGYZj8R44ZDhwei+nAgQMHDhw4cLTF4RuGA4fdgQMHDhw4HNrxOUwHDo/FdODAgQOHy4JjfA6PxXSYDhw4cOBwWUwHjvE5PBbTgQMHDhwuCw6PBQcOHDhw4OiAw78Dh8eCAwcOHDhw+HfgaIzDY8GBAwcOHDj8O0wHDhw4cODAgaM3Dt8w04EDBw4cOHD4d+DA0RiH3YEDBw4cOBxaHDjsDhw4cODA0QGHQ4sDh92BAwcOHDgcWhw4WuawO3DgwIEDh0OLA4fdgQMHDhw4OuBwaHHgsDtw4MCBA4dDiwNHyxx2Bw4cOHDgcGhx4LA7cODAgQNHBxwOLQ4cdgcOHDhw4HBoceBomcPuwIHjzxy/RpOlgLtM91cAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjAtMTAtMjBUMDE6NTY6MjUtMDQ6MDBVPpRjAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIwLTEwLTIwVDAxOjU2OjI1LTA0OjAwJGMs3wAAAABJRU5ErkJggg==);
}
